@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Padauk:wght@700&display=swap');

$font-family-sans-serif: 'Barlow', 'Padauk',sans-serif;
$primary: #5a00bb;
$border-radius: 30px;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
